<div class="board">
  @for (row of sudokuLogic.playableBoard(); track $index; let rowIndex = $index) {
    @for (cell of row; track $index; let colIndex = $index) {
      <input type="text" maxlength="1" class="cell"
             [value]="cell === 0 ? '' : cell"
             [disabled]="sudokuLogic.startingBoard[rowIndex][colIndex] === 0 ? 0 : 1"
             (input)="onInput(rowIndex, colIndex, $event)"
             [class.disabled-cell]="sudokuLogic.startingBoard[rowIndex][colIndex] !== 0"
             [class.wrong-cell]="!(cell === 0 || sudokuLogic.checkField(rowIndex, colIndex))"
             [class.top-border]="rowIndex % 3 === 0" [class.bottom-border]="rowIndex % 3 === 2" [class.left-border]="colIndex % 3 === 0" [class.right-border]="colIndex % 3 === 2">
    }
  }
  <button (click)="onSolveClick()">Rozwiąż sudoku</button>
</div>
