.board {
  margin-top: 100px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
}

.cell {
  font-size: 25px;
  text-align: center;
  border: 1px solid black;
  color: black;
}

.disabled-cell {
  background-color: lightgrey;
}

.wrong-cell {
  background-color: red;
}

.top-border {
  border-top-width: 3px;
}

.bottom-border {
  border-bottom-width: 3px;
}

.left-border {
  border-left-width: 3px;
}

.right-border {
  border-right-width: 3px;
}

button {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  grid-column: span 9;
}
